.search_results
   display flex
   flex-direction row
   .pet_result, .food_result
      display flex
      flex-direction column
      flex 1
      padding 5px
      p
         text-align center
      .pet_information, .food_information
         display grid
         grid-template-columns repeat(4, 1fr)
         grid-gap 10px
         list-style-type none
         padding 0
         li
            height 50px
            border 1px solid
            padding 8px
            border-radius 5px